mixin pug-form(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.name = spec.name || ''
  - spec.label = spec.label || ''
  - spec.type = spec.type || ''
  - spec.inputAttrs = spec.inputAttrs || {}
  - spec.options = spec.options || {}
  - spec.validation = spec.validation || false

  .form-group.pug-form(class=spec.__class)&attributes(attributes)
    label(for=spec.name)= spec.label
    if spec.type == "select"
      select.form-control(name=spec.name id=spec.name type=spec.type)&attributes(spec.inputAttrs)
        each optionElem, indexValue in spec.options
          option(value=indexValue)&attributes(optionElem.attrs?optionElem.attrs:{})= optionElem.text
    else
      input.form-control(name=spec.name id=spec.name type=spec.type data-validation=spec.validation)&attributes(spec.inputAttrs)
